In [84]:
import numpy as np
import csv
import matplotlib.pyplot as plt
import pandas as pd
import math

data = pd.read_csv('rådata.csv', delimiter=";")

data['ny'] = '0' + '0' + '1' + data['alle']

ny=[]
for i in range(0,3263):
    ny.append(data['ny'][i][0:16] + data['ny'][i][17:25])

df_ny = pd.DataFrame(ny)

data['færdig'] = df_ny

data.to_excel('output_1.xlsx')

In [83]:
data

,alle,ny,færdig
0,1100110010030000000272,0011100110010030000000272,001110011001003000000272
1,110011001006-000000046,001110011001006-000000046,001110011001006-00000046
2,1100110010070000002208,0011100110010070000002208,001110011001007000002208
3,1100110010100000256697,0011100110010100000256697,001110011001010000256697
4,1100110010220000000045,0011100110010220000000045,001110011001022000000045
...,...,...,...
3258,675999179081-004299353,001675999179081-004299353,001675999179081-04299353
3259,6759991999000000008790,0016759991999000000008790,001675999199900000008790
3260,6759991999600000032666,0016759991999600000032666,001675999199960000032666
3261,675999199981-000026510,001675999199981-000026510,001675999199981-00026510
3262,675999279081-000026457,001675999279081-000026457,001675999279081-00026457